@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Rubik:400,500&display=swap');


/* ----- Background Color ------ */

body {background-color: antiquewhite;
    font-family: sans-serif;
    font-size: 16px;
}

/*-----Font Formatting---------*/

h1{
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;

}
h2{font-family: Rubik, sans-serif;
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: 400
}

h3{font-family: sans-serif;}

p{
  font-size: 16px;
  font-family: Karla, sans-serif;
    line-height: 23px;
    margin-bottom: 20px

}

main li{font-size: 16px;
    font-family: Karla, sans-serif;
    margin-left: 10px;
    padding-bottom: 10px;
    
}


.wrapper {
    width: 980px;
    margin: 20px auto;
}


header {background-color: burlywood;
    height: 100px;
    margin-right: 125px;
    margin-left: 125px;
    padding: 5px;
    position: fixed;
    
}

h1 {background-color: aquamarine;
    text-align: center;
    padding-bottom: 25px;
}

/*------Anchor Styles------*/

a{text-decoration: none;}

a:hover{text-decoration: underline;}

a:visited{color:lightslategrey;
}

a:active{color: crimson;}

/*------Navigation------*/

nav {background-color: whitesmoke;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

nav ul { }

nav ul li {display: inline;
    margin-right: 15px;
    letter-spacing: 1.5px;
    font-size: 18px
     
}

nav ul li a{text-decoration: none;
    color: black;
    background-color: lightskyblue;
    padding: 10px 15px;

}

nav ul li a:hover {
    background-color: aqua;
    text-decoration: none;
    }

main {background-color: honeydew;
    padding: 10px;
    padding-top: 130px;
}

footer {background-color: lightgoldenrodyellow;
    height: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
    
}

nav a-current-page {color: black;}
